{% extends "base.html" %}

{% block title %}SQL Injection Demo{% endblock %}

{% block content %}
<div class="glass-card">
    <h1><i class="bi bi-shield-lock-fill"></i> SQL Injection Demo</h1>
    <p class="note">Progetto universitario di Sicurezza Informatica</p>

    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <a href="{{ url_for('register') }}">
        <button class="btn-glow"><i class="bi bi-person-plus-fill"></i> Registra Utente</button>
    </a>
    <a href="{{ url_for('login') }}">
        <button class="btn-glow"><i class="bi bi-person-plus-fill"></i> Login </button>
    </a>
    <a href="{{ url_for('utenti') }}">
        <button class="btn-glow"><i class="bi bi-people-fill"></i> Visualizza Utenti</button>
    </a>
</div>
{% endblock %}
